*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}


header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}



main .grey{
    background-color: #D3D3D3;
}

footer{
    background-color: #23272A;
}


.boxed{
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem;
}


.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/*************
    header
**************/

.flex.logo{
    justify-content: flex-start;
}

.flex.link{
    justify-content: space-evenly;
}

.flex.login {
    justify-content: flex-end;
}


.navbar{
    padding: 0.5em;
    min-height: 3rem;
    width: calc(100% / 3);
}

.navbar a{
    text-decoration: none;
    color: white;
}

.link{
    width:calc((100% / 3) * 2);
}

.login > button{
    padding: 0.5em;
    color: black;
    border: 0;
    border-radius: 13px;
    cursor: pointer;
    font-weight: 400;
}

.boxedContent{
    padding: 3rem;
}

.content{
    color: white;
    padding: 3rem;
    max-width: 57rem;
    min-height: 25rem;
    margin: 0 auto;
   text-align: center;
}

.content h1{
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 60px;
}

.content p{
    font-size: 20px;
}

.buttonH{
    margin-top: 30px;
}

.buttonH button{
    font-weight: 600;
    margin: 25px;
    padding: 20px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}

#buttonDark{
    background-color: #23272a;
    color: white;
}
/*************
    main
**************/

.boxedMain > .flex{
    justify-content: center;
}
.boxedMain{
    max-width: 75rem;
    margin: 0 auto;
    padding: 3rem;
}
.blue{
    min-height: 31rem;
    width: 45rem;
    background-color: #1E90FF;
}

.pink{
    min-height: 31rem;
    width: 30rem;
    background-color: #FFC0CB;
}


.grey > .boxedMain > .flex{
    flex-direction: row-reverse;
}

.bigContainer{
    background-color: #228B22;
    min-height: 56rem;
    width: 75rem;
}

/*************
    footer
**************/

.boxedFt{
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem 3rem 1rem 3rem;
}

.boxedFt >.flex {
    justify-content: center;
}
 
.single{
    width: 18rem;
    min-height: 36rem;
    background-color: #F08080;
}

.multiple{
    min-height: 36rem;
    width: 51rem;
    background-color: #20B2AA;  
}

.column{
    min-height: 36rem;
    width: calc(100% / 4);   
}

footer hr{
    color: #D3D3D3;
    margin-top: 2rem;
}

.ftButton{
    background-color: #7FFFD4;
    padding-top: 1rem;
    padding-bottom: 1.5rem; 
}

.ftButton.flex{
    justify-content: space-between;
    align-items: center;
}

.ftLogo, .btf{
    background-color:#FFB6C1 ;
    padding: 0.5rem;
}

